.gameInterface {
  position: absolute;
  color: white;
  background-color: transparent;
}

.hitPoints {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 20px;
}

.score {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 20px;
}
